@model IEnumerable<MoviesAndFilmWebApp.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<br>
<div class="d-grid gap-2 d-md-flex">
    <a class="btn btn-warning" href="Movies/Create" role="button">Create</a>
</div>
<br>

<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>

@foreach(var item in Model)
{
    <div class="card mb-3"  style="max-width: 1400px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://raw.githubusercontent.com/GiorgioMotorola/MoviesAndFilmWebApp/master/MoviesAndFilmWebApp/ssssss.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text"><u>Starring:</u> @item.Stars <br> <u>Directed By:</u> @item.Director <br> <u>Written By:</u> @item.Writer</p>
                    <p class="card-text">@item.Plot</p>
                    <p class="card-text"><small class="text-muted">@item.MPAARating || @item.UserRating || @item.Genre</small></p>
                    <br></br>
                    @*<a href="Movies/Details/@item.Id" class="btn btn-outline-success">View Movie</a>*@
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a class="btn btn-warning" href="Movies/Details/@item.Id" role="button">View Movie</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Writer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MPAARating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RunTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stars)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Director)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Writer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MPAARating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RunTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseYear)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>

</table>*@
